@page "/Visitor_registration"
@using System.Text.RegularExpressions
@using VMS_App.Shared.Models
@inject NavigationManager navigate

<MudCard Elevation="4" Outlined Class="mt-2">
    <MudCardHeader>
         <MudButton OnClick="Back" Variant="Variant.Filled"><MudIcon Icon="@Icons.Material.Filled.ArrowBack" Size="Size.Small"/>Back</MudButton>
    </MudCardHeader>
    <MudCardContent>
         <MudText Typo="Typo.h5" Color="Color.Default" Style="text-align:center; font-family:Arial">Visitor Registration</MudText>
         <MudDivider Light DividerType="DividerType.Middle" Class="m-2 mb-5" />
         <MudForm @ref="form">
             <MudGrid Spacing="2">
                 <MudItem xs="12" sm="12" md="12" lg="12">
                     <MudText><b>Gernal Information :</b></MudText>
                     <MudDivider Light DividerType="DividerType.FullWidth" />
                 </MudItem>
                 <MudItem xs="12" sm="12" md="4" lg="4">
                 
                         <MudTextField @bind-Value="visitormaster.Name" Label="Name" Margin="Margin.Dense" Variant="Variant.Outlined" Required RequiredError="Please Enter Full Name"></MudTextField>
                 
                 </MudItem>
                 <MudItem xs="12" sm="12" md="4" lg="4">
                 <MudTextField T="DateTime" @bind-Value="visitormaster.DBO" Variant="Variant.Outlined" Margin="Margin.Dense" InputType="InputType.DateTimeLocal" Format="s" Required RequiredError="Please Select Date"></MudTextField> 
                 </MudItem>
                 <MudItem xs="12" sm="12" md="4" lg="4">
                    
                         <MudNumericField @bind-Value="visitormaster.MobileNo" Label="Contact Number" Margin="Margin.Dense" Variant="Variant.Outlined" T="string" MaxLength="10" Adornment="Adornment.Start" AdornmentText="+91" Required RequiredError="Please Enter Full Name" HideSpinButtons></MudNumericField>
                    
                 </MudItem>
                 <MudItem xs="12" sm="12" md="4" lg="4">
                     
                         <MudTextField @bind-Value="visitormaster.Email" Label="Email" Margin="Margin.Dense" Variant="Variant.Outlined" Validation="@ValidateEmail" Required RequiredError="Please Enter Email Address"></MudTextField>
                    
                 </MudItem>
                 <MudItem xs="12" sm="12" md="6" lg="6">
                         <MudTextField @bind-Value="visitormaster.Company" Label="Organigation Name" Variant="Variant.Outlined" Margin="Margin.Dense" Required RequiredError="Please Enter Name Of Organigation"></MudTextField>
                 </MudItem>
                 <MudItem xs="12" sm="12" md="12" lg="12">
                     <MudText><b>Address type :</b></MudText>
                     <MudDivider Light DividerType="DividerType.FullWidth" />
                 </MudItem>
                 <MudItem xs="12" sm="12" md="6" lg="6">
                         <MudTextField @bind-Value="visitormaster.Address" Label="Permanent Address" Variant="Variant.Outlined" Margin="Margin.Dense" Lines="2" Required RequiredError="Please Enter Your Addresss"></MudTextField>
                   
                 </MudItem>
                 <MudItem xs="12" sm="12" md="6" lg="6">
                     
                         
                         <MudTextField @bind-Value="visitormaster.City" Label="City" Variant="Variant.Outlined" Margin="Margin.Dense" Required RequiredError="Enter City Name"></MudTextField>
                     
                 </MudItem>
                 <MudItem xs="12" sm="12" md="4" lg="4">
                    
                         <MudTextField @bind-Value="visitormaster.State" Label="State" Variant="Variant.Outlined" Margin="Margin.Dense" Required RequiredError="Enter State Name"></MudTextField>
                  
                 </MudItem>
                 <MudItem xs="12" sm="12" md="4" lg="4">
                    
                         <MudTextField @bind-Value="visitormaster.Country" Label="Country" Variant="Variant.Outlined" Margin="Margin.Dense" Required RequiredError="Enter Country"></MudTextField>
                   
                 </MudItem>
                 <MudItem xs="8" sm="8" md="4" lg="4">
                   
                         <MudTextField @bind-Value="visitormaster.Pincode" Label="Pincode" Variant="Variant.Outlined" Margin="Margin.Dense" Required RequiredError="Enter Your Pincode"></MudTextField>
                  
                 </MudItem>
                 <MudItem xs="12" sm="12" md="12" lg="12">
                     <MudText><b>Documents :</b></MudText>
                     <MudDivider Light DividerType="DividerType.FullWidth" />
                 </MudItem>
                 <MudItem xs="12" sm="12" md="6" lg="6">
                     <MudAutocomplete T="Tbl_IdentityType" @bind-Value="selectedId" Label="ID Type" SearchFunc="getId" ToStringFunc="@(x => x.IdType)" Variant="Variant.Outlined" Margin="Margin.Dense" >

                     </MudAutocomplete>
                        @*  <MudSelect @bind-Value="visitormaster.Id_Type" Label="ID Type" Margin="Margin.Dense" Variant="Variant.Outlined" Required RequiredError="Please Select one Documnet">
                             <MudSelectItem Value="@("Aadhar Card")" />
                             <MudSelectItem Value="@("Driving Licence")" />
                             <MudSelectItem Value="@("Voter ID")" />
                             <MudSelectItem Value="@("Pan Card")" />
                         </MudSelect> *@
                 </MudItem>
                 <MudItem xs="12" sm="12" md="6" lg="6">
                    
                         <MudTextField @bind-Value="visitormaster.Personal_Id" Label="ID Number" Variant="Variant.Outlined" Margin="Margin.Dense" Required RequiredError="Please Enter Id Number"></MudTextField>
                    
                 </MudItem>
                 </MudGrid>
                 <MudGrid Spacing="0" Class="m-2">
                 <MudItem xs="12" sm="12" md="3" lg="3">
                         <span>Uploda Documnent Image</span>
                         <MudFileUpload T="IBrowserFile" Accept=".png, .jpg" FilesChanged="UploadFiles" MaximumFileCount="100">
                             <ButtonTemplate>
                                 <MudButton HtmlTag="label" Size="Size.Small"
                                            Variant="Variant.Filled"
                                            @bind-value="visitormaster.PersonalId_File"
                                            Color="Color.Info"
                                            StartIcon="@Icons.Material.Filled.CloudUpload"
                                            for="@context.Id">
                                     Upload Documnet
                                 </MudButton>
                             </ButtonTemplate>
                         </MudFileUpload>
                 </MudItem>
                 <MudItem xs="12" sm="12" md="3" lg="3">
                         <span>Uploda Your Photograph</span>
                         <MudFileUpload T="IBrowserFile" Accept=".png, .jpg" FilesChanged="UploadFiles" MaximumFileCount="100">
                             <ButtonTemplate>
                                 <MudButton HtmlTag="label" Size="Size.Small"
                                            Variant="Variant.Filled"
                                            Color="Color.Info"
                                            @bind-value="visitormaster.Photograph"
                                            StartIcon="@Icons.Material.Filled.CloudUpload"
                                            for="@context.Id">
                                     Upload Image
                                 </MudButton>
                             </ButtonTemplate>
                         </MudFileUpload>
                 </MudItem>
                 <MudItem xs="12" sm="12" md="4" lg="4">
                     <MudField Variant="Variant.Outlined" Disabled HelperText="Your Uploaded Documnets" Margin="Margin.Dense" Class="mt-2">
                     @if (files != null)
                    {
                        <MudList Color="Color.Success" Dense>
                            @foreach (var file in files)
                            {
                                <MudListItem Dense="true">
                                        <MudText Color="Color.Info"> @file.Name</MudText>
                                </MudListItem>
                            }
                        </MudList>
                    }
                    </MudField>
                 
                </MudItem>
            </MudGrid>
        </MudForm>
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Filled" Color="Color.Success" Style="border-radius:8px;" FullWidth Class="m-4">Submit</MudButton>
     </MudCardActions>
 </MudCard>


 @code {

    Tbl_VisitorMaster visitormaster = new();
    List<Tbl_VisitorMaster> visitor = new();

    Tbl_IdentityType User = new();
    Tbl_IdentityType selectedId = new Tbl_IdentityType();
   
    List<Tbl_IdentityType> Users = new();

    IList<IBrowserFile> files = new List<IBrowserFile>();
    MudForm form = new();
    public bool ValidateEmail(string email)
    {
        Regex regex = new Regex("^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$"); // Regular expression for email validation
        return regex.IsMatch(email ?? "Invalid Email Address");
    }

    // public bool validateMobile(string mobile)
    // {
    //     Regex regex = new Regex(@"^\(?([0-9]{3})\)?[-.●]?([0-9]{3})[-.●]?([0-9]{4})$");
    //     return regex.IsMatch(mobile ?? "");

    // }
    protected  async override Task OnInitializedAsync()
    {
        Users.Add(new Tbl_IdentityType() {  IdType = "Aadhar Card" });
        Users.Add(new Tbl_IdentityType() {  IdType = "Voter ID" });
        Users.Add(new Tbl_IdentityType() {  IdType = "Driving Licence" });
        Users.Add(new Tbl_IdentityType() {  IdType =  "Pan Card" });
        Users.Add(new Tbl_IdentityType() {  IdType = "Passport" });
    }


    private void Back()
    {
        navigate.NavigateTo("/");
    }

    private void UploadFiles(IBrowserFile file)
    {
        files.Add(file);
        //TODO upload the files to the server
    }

    public async Task<IEnumerable<Tbl_IdentityType>> getId(String value)
    {
        await Task.Delay(5);
        if(string.IsNullOrEmpty(value))
            return Users;
        return Users.Where(x => x.IdType.Contains(value));

    }
  
}
